<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eduit11.themoviedb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/tvv"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Actividades.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividades.DetalleActivity"
            android:parentActivityName=".Actividades.SplashActivity" />

        <activity android:name=".Actividades.TemporadasActivity"
            android:parentActivityName=".Actividades.SplashActivity"/>

        <activity android:name=".Actividades.MainActivity"></activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Actividades.SplashActivity" />
    </application>

</manifest>